body {
  background-color: #EAF6F6;
}
h1,h3
{
  color: #66BFBF;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gray;
  border-width: 5px;
  /*height: 2px;*/
  width: 5%;
}
table {
    border-spacing: 0.5em 0.5em;
}

a[href^="https"]::before {
  content: "🔗 ";
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

li {
    padding-bottom: 0.5rem;
}
